<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Primeira Porta</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="biglock-field">
      <app-padlock [isBig]="true" [isInteractive]="isBigLockOpen" [isOpen]="isBigLockOpen"></app-padlock>
    </div>
    <div class="smalllock-field">
      <ng-container *ngFor="let isSmallLockOpen of isEachSmallLockOpen; let i = index">
        <app-padlock [isOpen]="isSmallLockOpen" (click)="toogleLock(i)"></app-padlock>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>


