.padlock {
  margin: 20px;
}
.small {
  width: 80px;
  height: 80px;
}
.big {
  width: 120px;
  height: 120px;
}
.open {
  background-color: #1f1;
}
.close {
  background-color: #f1f;
}
mat-icon {
  font-size: 40px;
  height: 40px;
  width: 40px;
}
