<button mat-raised-button
  class="padlock"
  [ngClass]="{'padlock--big': isBig, 'padlock--small': !isBig, 'padlock--open': isOpen, 'padlock--close': !isOpen}"
  [disableRipple]="true"
  [disabled]="!isInteractive"
  [attr.aria-label]="arialabel"
>
  <div class="padlock__content">
    <div *ngIf="!isOpen">
      <mat-icon>lock_outline</mat-icon>
      <div class="content__status">Lock</div>
    </div>
    <div *ngIf="isOpen">
      <mat-icon>lock_open</mat-icon>
      <div class="content__status">Lock open</div>
    </div>
  </div>
</button>
