.biglock-container{
  display: flex;
  justify-content: center;
}
.asterisk-container {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: #a6a6a6;
}
.padlock-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 360px;
}

.padlock-container__button {
  width: 80px;
  height: 80px;
  margin: 10px;
}

@media (min-width: 330px) {
  .padlock-container__button:nth-child(-n+3) {
    margin-right: 10px;
  }

  .padlock-container__button:nth-child(10) {
    margin-right: auto;
    margin-left: auto;
  }
}
