<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Terceira Porta</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="biglock-field">
      <app-padlock [isBig]="true" [isInteractive]="true" [isOpen]="isBigLockOpen"></app-padlock>
    </div>
    <div class="button-container">
      <ng-container *ngFor="let number of padnumberList; let i = index">
        <app-padnumber [value]="number" (click)="tapNumber(i)" class="button-container__button"></app-padnumber>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>

