<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Segunda Porta</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <ng-container *ngFor="let padlock of isEachLockOpen; let i = index">
        <app-padlock
          [isOpen]="padlock"
          (click)="toogleLock(i)" (keydown.enter)="toogleLock(i)"
          [isBig]="i === 2"
          [arialabel]="('Cadeado' + (i === 2 ?' Grande ' : ' Pequeno ' + (i>2 ? i : (i + 1)) )) + (padlock ? ' aberto': ' fechado')"
        ></app-padlock>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>
