<mat-card>
  <mat-card-header>
    <mat-card-title>Secunda Porta</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <app-padlock [isOpen]="isEachLockOpen[0]" (click)="toogleLock(0)"></app-padlock>
      <app-padlock [isOpen]="isEachLockOpen[1]" (click)="toogleLock(1)"></app-padlock>
      <app-padlock [isOpen]="isEachLockOpen[2]" (click)="toogleLock(2)" [isBig]="true" [isInteractive]="true"></app-padlock>
      <app-padlock [isOpen]="isEachLockOpen[3]" (click)="toogleLock(3)"></app-padlock>
      <app-padlock [isOpen]="isEachLockOpen[4]" (click)="toogleLock(4)"></app-padlock>
    </div>
  </mat-card-content>
</mat-card>
