.padnumber {
  margin: 10px;
  background-color: rgb(102, 102, 102);
  color: aliceblue;
  font-weight: bolder;
  font-size: 20px;
  width: 60px;
  height: 60px;
  transition: background-color 0.5s;
}

.padnumber--clicked{
  background-color: rgb(146, 179, 153);
}
